/*
#FFFFFF - hvid
#9B3C7D - mørk lilla
#F1C9CD - rosa
#FBE355 - gul
#E4F1F0 - lys blå
#00796B - mellem blå
#00454E - mørk blå
*/
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
}
h1 {
  font-size: 48px;
  font-weight: bold;
}
h2 {
  font-size: 34px;
  font-weight: bold;
}
h3 {
  font-size: 24px;
  font-weight: bold;
}
p {
  font-size: 16.5px;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.btn-prim {
  height: 55px;
  padding: 0px 45px;
  font-size: 15px;
  font-weight: bold;
  font-family: proxima-nova, sans-serif;
  background-color: #00454E;
  color: #E4F1F0;
  border: none;
  border-radius: 5px;
}
.btn-prim:hover {
  border: solid #00454E;
  background-color: #E4F1F0;
  color: #00454E;

}
.btn-prim:active{
  height: 50px;
  padding: 0px 40px;
}

.btn-gul {
  padding: 15px 45px;
  font-size: 15px;
  font-weight: bold;
  font-family: proxima-nova, sans-serif;
  background-color: #FBE355;
  color: #00796B;
  border: none;
}
.btn-gul:hover {
  background-color: #00796B;
  color: #E4F1F0;
}
.btn-gul:active {
  opacity: 0.8;
}
/* Asger start */

/* Asger slut */



/* Jacob start */

/* Jacob slut */



/* Jasmin start */

/* Jasmin slut */



/* Frede start */
/* Header*/
header {
  background-color: #E4F1F0;
  padding: 35px 20px;
}
.head-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-logo {
  width: 200px;
  height: 50px;
  background-color: #00454E;
}

/* Event kommende */
.event-kommende {
  background-color: #E4F1F0;
  padding: 35px;
}

.event-kommende h2, h3, p {
  color: #00454E;
}


/* Social section*/
.social-sec {
  background-color: #00454E;
  color: #FBE355;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}
.social-sec a {
color: #E4F1F0;
}
.follow-div{
  width: 250px;
  height: 400px;
  background-color: #E4F1F0;
  border-radius: 20px;
}
.social-sec * {
  margin-top: 10px;
}
.social-icon{
  margin-top: 40px;
}
.social-link {
  padding: 0px 5px;
}

/* burger menu */
.hbmenu {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 99;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}
.hbmenu .bar, .hbmenu:after, .hbmenu:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #00454E;
  margin: 4px 0px;
  transition: 0.4s;
}
/*aktivering af hb menu*/
.hbmenu.aktivnu:before {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.hbmenu.aktivnu:after {
  transform: rotate(45deg) translate(-5px, -5px);
}
.hbmenu.aktivnu .bar{
  opacity: 0;
}
/* slide til side bar*/
.mobil-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: #F1C9CD;
	padding: 30px 10px 0px;
	transition: 0.4s;
}
.mobil-nav.aktivnu {
	left: 0;
}
.mobil-nav a {
	display: block;
	max-width: 600px;
	text-align: left;
	background-color: #F1C9CD;
	color: #00454E;
}
/*ændring af tekst i nav*/
.bm-links a {
  font-size: 30px;
  font-weight: 700;
}
.bm-head a {
  font-size: 40px;
  font-weight: 700;
}



/*footer*/
footer {
  background-color: #00454E;
  padding: 5px 35px 35px;
}
.foot-flex {
  display: flex;
  justify-content: space-between;
}
.foot-text {
  display: flex;
  flex-direction: column;
}
.foot-h {
  color: #FBE355;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
}
.foot-p {
  color: #E4F1F0;
}
.foot-img {
  width: 150px;
  height: 150px;
  background-color: #FBE355;
  align-self: center;
  margin-right: 20px;
}
.foot-banner p {
  display: flex;
  color: #E4F1F0;
  margin-top: 60px;
  font-size: 10px;
  justify-content: center;
}
/* Frede slut */