/*
#FFFFFF - hvid
#9B3C7D - mørk lilla
#F1C9CD - rosa
#FBE355 - gul
#E4F1F0 - lys blå
#00796B - mellem blå
#00454E - mørk blå
*/
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

h2 {
  font-size: 34px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 16.5px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.btn-prim {
  height: 55px;
  padding: 0px 45px;
  font-size: 15px;
  font-weight: bold;
  font-family: proxima-nova, sans-serif;
  background-color: #00454E;
  color: #E4F1F0;
  border: none;
  border-radius: 5px;
}

.btn-prim:hover {
  border: solid #00454E;
  background-color: #E4F1F0;
  color: #00454E;

}

.btn-prim:active {
  height: 50px;
  padding: 0px 40px;
}

.btn-gul {
  padding: 15px 45px;
  margin: 35px 0 0;
  font-size: 15px;
  font-weight: bold;
  font-family: proxima-nova, sans-serif;
  background-color: #FBE355;
  color: #00796B;
  border: none;

}

.btn-gul:hover {
  background-color: #00796B;
  color: #E4F1F0;
}

.btn-gul:active {
  opacity: 0.8;
}

/* Asger start */

.mineBilletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.mineBilletter>h2 {
  color: #00454E;
  margin: 0 auto 0 auto;
}

.billet>h3 {
  color: #00796B;
}

.billetContainer {
  margin: 35px auto;
  height: auto;
  width: 300px;
}

.billet {
  border-style: solid;
  border-color: #00796B;
  background-color: #E4F1F0;
  padding: 20px 15px 5px 15px;
}

.billetBeskrivelse {
  padding-bottom: 15px;
}

.billetInfo {
  padding-bottom: 15px;
}

.ordrenummerContainer {
  height: 100px;
  border-top-style: dashed;
  border-top-color: #00796B;
  border-top-width: 2px;
  padding-top: 10px;
}

.billetType {
  padding-bottom: 20px;
}

.stregkode {
  font-family: 'Libre Barcode 128', cursive;
  font-size: 54px;
  text-align: center;
}

.stregkodeNr {
  padding-left: 10px;
  padding-bottom: 4px;
}

/* Asger slut */



/* Jacob start */
/* Event show start*/
#bcolor {
  background-color: #E4F1F0;
  padding-bottom: 4rem;
}

#event-scroll>h2,
p {
  color: #00454E;
}

#event-scroll>p {
  font-size: 18px;
  margin: auto;
  margin-bottom: 15px;
  text-align: left;
}

#event-scroll>h2 {
  text-align: left;
  color: #00454E;
}

.center {
  display: flex;
  justify-content: center;
}

.event-show {
  background-color: #00454E;
  border-radius: 25px;
  padding: 20px;
  width: 250px;
  height: 320px;
}

.event-show-pic {
  background-color: #E4F1F0;
  height: 190px;
}

.event-show-txtcenter {
  display: flex;
  justify-content: space-between;
}

.event-show-txt>h3,
h8 {
  color: #ffffff;
}

.event-show-txt>h3 {
  font-size: 20px;
}

/*Event show slut*/
/* Search start */
.event-search {
  background-color: #E4F1F0;
  padding-bottom: 4rem;
}

.search-header>h2,
p {
  color: #00454E;
}

.search-header>p {
  font-size: 18px;
  margin: auto;
  margin-left: 64px;
  margin-bottom: 15px;
}

/* Search slut */

/* Resultat start */

.event-resultat {
  background-color: #E4F1F0;
  padding-bottom: 4rem;
}

.resultat-header {
  color: #00454E;
}

.search-event {
  background-color: #00454E;
  padding: 20px;
  width: 320px;
  height: 215px;
  margin-bottom: 2rem;

}

.search-resultat-pic {
  background-color: #E4F1F0;
  height: 114px;
  width: 100%;
}

.search-resultat-txtcenter {
  display: flex;
  justify-content: space-between;
}

.search-resultat-txt>h3,
h8 {
  color: #ffffff;
}

.event-show-txt>h3 {
  font-size: 20px;
}

/* Resultat slut */

/* Jacob slut */



/* Jasmin start */
.inputemne {
  width: 350px;
  height: 200px;
  padding: 20px 15px;
  padding-bottom: 155px;
  border: 2px solid #00454E;
}

input:focus {
  outline: none;
}

.inputandre {
  width: 350px;
  height: 50px;
  padding: 20px 15px;
  border: 2px solid #00454E;
}

.centertxt {
  display: flex;
  justify-content: center;
}

.lefttxt {
  display: flex;
  justify-content: left;
  text-align: left;
}

.marginstyrer {
  margin: 35px;
  margin-top: 0px;
  color: #00454E;
}

.baggrund {
  background-color: #E4F1F0;
}

select {
  width: 315px;
  height: 50px;
  border: 2px solid #00454E;
}

#search {
  width: 315px;
  height: 50px;
  border: 2px solid #00454E;
}

.top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: url("image/PilHvid.png") no-repeat center #00454E;
  border: none;
}

.top:hover {
  background: url("image/PilBlå.png") no-repeat center #ffffff;
  border: none;
}

/* Jasmin slut */



/* Frede start */
/* Header*/
header {
  background-color: #E4F1F0;
  padding: 35px 20px;
}

.head-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-logo {
  width: 200px;
  height: 50px;
}

/* Event kommende */
.event-kommende {
  background-color: #E4F1F0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.event-kommende>h2,
h3,
p {
  color: #00454E;
}

.event-come {
  display: flex;
  justify-content: center;
  background-color: #00454E;
  width: 300px;
  height: 190px;
  margin: 35px auto 0px;
}

.event-come-pic {
  width: 300px;
  height: 100px;
  background-color: #F1C9CD;
}

.event-come-txt-con {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  text-align: left;
}

.event-come-txt h3 {
  color: #E4F1F0;
}

.event-come-txt-p {
  color: #E4F1F0;
}

.event-come-date {
  color: #E4F1F0;
  font-size: 20px;
}

/* Social section*/
.social-sec {
  background-color: #00454E;
  color: #FBE355;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.social-sec a {
  color: #E4F1F0;
}

.follow-div {
  width: 250px;
  height: 400px;
  background-color: #E4F1F0;
  border-radius: 30px;
}

.social-sec * {
  margin-top: 10px;
}

.social-icon {
  margin-top: 40px;
}

.social-link {
  padding: 0px 5px;
}

/* burger menu */
.hbmenu {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 99;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hbmenu .bar,
.hbmenu:after,
.hbmenu:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #00454E;
  margin: 4px 0px;
  transition: 0.4s;
}

/*aktivering af hb menu*/
.hbmenu.aktivnu:before {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hbmenu.aktivnu:after {
  transform: rotate(45deg) translate(-5px, -5px);
}

.hbmenu.aktivnu .bar {
  opacity: 0;
}

/* slide til side bar*/
.mobil-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #F1C9CD;
  padding: 30px 10px 0px;
  transition: 0.4s;
}

.mobil-nav.aktivnu {
  left: 0;
}

.mobil-nav a {
  display: block;
  max-width: 600px;
  text-align: left;
  background-color: #F1C9CD;
  color: #00454E;
}

.mobil-nav a:hover {
  color: #00796B;
}

/*ændring af tekst i nav*/
.bm-links {
  margin-top: 30px;
}
.bm-links a {
  font-size: 30px;
  font-weight: 700;
}

.bm-head a {
  font-size: 40px;
  font-weight: 700;
}



/*footer*/
footer {
  background-color: #00454E;
  padding: 5px 35px 35px;
}

.foot-flex {
  display: flex;
  justify-content: space-between;
}

.foot-text {
  display: flex;
  flex-direction: column;
}

.foot-h {
  color: #FBE355;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
}

.foot-p {
  color: #E4F1F0;
}

.foot-img {
  width: 150px;
  height: 150px;
  align-self: center;
  margin-right: 20px;
  border-radius: 50%;
}

.foot-banner p {
  display: flex;
  color: #E4F1F0;
  margin-top: 60px;
  font-size: 10px;
  justify-content: center;
}

/* Frede slut */

.headerHvid {
  background-color: white;
}